
.navbar{
    background-color: #0a0b27;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #e53f27;
}
.navbar-nav{
    gap: 41px;
}
.navbar-toggler{
    color: white;
}

/* left section */
.bg-color{
    position: relative;
}

/* leaf imag */
.leaf-img{
    position: absolute;
    left: 50%;
    width: 190px;
    transform: translatex(-50%);
    top: 20%;
}
.img-responsive{
    height: auto;
    max-width: 100%;
   
}
.no-padd{
    padding-left: 0;
    padding-right: 0;
}

/* main text */
.main-text{
    position: relative;
    width: 60%;
    margin: auto;
    top: 351px;
    color: white;
}
.main-text h1{
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 3px;
}

.content-details{
    font-size: 20px;
    line-height: 1.4;
    color: #ff7a00;
    text-align: left;
    padding: 120px;
}
.texts{
    position: relative;
    
}
.texts a{
    cursor: pointer;
}

.footer a{
    text-decoration: none;
    color: black;
}
.footer{
    height: 400px;
}
.dropdown-menu{
    background-color: #e53f27;
    color: white;
    font-size: 20px;
}



/* @media screen and (max-width:756px) {
    .main-text{
        width: 80%;
    }
} */


